<html>
    <head>
        <title>User Details</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">

    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark p-4">
            <a class="navbar-brand bold" href="/">Home</a>
            <h3 class="navbar-brand bold">User Details</h3>
        </nav>
        <div class="container m-4">
        
            <div class="card card-body">
                Name: <h3><%=userInfo.name%></h3>
                Email: <h3><%=userInfo.email%></h3>
                Phone: <h3><%=userInfo.phone%></h3>
            </div>
        </div>
    </body>
</html>